.indeed_flex_logo {
    /*background-image: url("../images/indeed-flex.png");*/
    height: 150px;
    width: 150px;
}

.syft_logo {
    /*background-image: url("../images/indeed-flex.png");*/
    height: 150px;
    width: 150px;
}

.logo {
    /*background-image: url("../images/indeed-flex.png");*/
    height: 150px;
    width: 150px;
}

.markdown-heading {
    font-family: 'Lora', serif;
    font-weight: 600;
    color: #111;
    margin-top: 2rem;
}
